/* 세번째 페이지 */

main {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.more-positions {
  width: 1060px;
  margin-top: 30px;
}
.recruitment-announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 1060px;
}

.recruitments {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.recruitment {
  display: flex;
  flex-direction: column;
  position: relative;
}

.recruitment a {
  display: flex;
  flex-direction: column;
  position: relative;
}

.recruitment-descript {
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.recruitment-image {
  width: 250px;
  height: 185px;
  position: relative;
  background-size: cover;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.recruitment-title {
  color: #333;
  font-size: 18px;
  width: 250px;
  font-weight: 600;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  word-break: break-word;
  box-sizing: border-box;
  cursor: pointer;
}

.recruitment-company {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
  cursor: pointer;
}

.response-rate {
  border: 1px solid #00aead;
  color: #00aead;
  border-radius: 2px;
  background: #fff;
  display: inline-block;
  width: 67px;
  font-size: 10px;
  font-weight: 600;
  height: 19px;
  line-height: 19px;
  margin-top: 4px;
  padding: 0 5px;
  cursor: pointer;
}

.location {
  font-weight: 400;
  color: #999;
  font-size: 14px;
  line-height: normal;
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  cursor: pointer;
}

.incentive {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.job-detail {
  width: 1060px;
  height: 6476px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 80px;
  margin-top: 50px;
}

.more-positions .bookmark-icon {
  position: absolute;
  z-index: 0;
  left: 230px;
  top: 10px;
  font-weight: 400;
  color: #999;
  cursor: pointer;
}

.job-detail__main {
  width: 700px;
}

.job-detail__images {
  display: flex;
}

.job-detail__image {
  width: 700px;
  height: 490px !important;
  object-fit: cover;
}

.sticky-reward {
  border: 1px solid #e1e2e3;
  background-color: #fff;
  border-radius: 3px;
  width: 298px;
  height: 274.72px;
  padding: 24px 20px;
  position: sticky;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sticky-reward__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86.72px;
  margin-bottom: 20px;
}

.sticky-reward__container-title {
  font-size: 15px;
  color: #333333;
  font-weight: 600;
  letter-spacing: normal;
  text-align: left;
}

.sticky-reward__people {
  display: flex;
}

.sitck-reward__person {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}

.person {
  font-size: 14px;
  font-weight: 600;
  color: #999;
  margin-bottom: 8px;
  line-height: 1.2;
}

.reward-money {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

.sticky-btn {
  width: 100%;
  height: 50px;
  border: 1px solid;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  text-align: center;
  border-radius: 25px;
}

.sticky-reward__bookmark {
  border-color: #36f;
  color: #36f;
  background-color: #fff;
  /* margin-bottom: 10px; */
}

.sticky-reward__apply {
  background-color: #36f;
  color: #fff;
}

.fa-heart {
  color: #dbdbdb;
}

.sticky-reward__like {
  height: 30px;
  border-radius: 15px;
  border: 1px solid #e1e2e3;
  margin-right: 12px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #333;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 66.86px;
  background-color: #fff;
}
